@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */


/*
 * FontAwesome on page refresh and after some interaction oversizing issue workaround.
 * @see https://github.com/FortAwesome/react-fontawesome/issues/134
 */
.svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -.125em
}


html {
    --background: #0c142c;
    background-color: var(--background);
    color: #fff;
    font-display: swap;
}

.indexBackground {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c388.772C75.575%2c387.922%2c157.579%2c383.949%2c215.699%2c335.634C272.14%2c288.714%2c283.202%2c208.838%2c301.844%2c137.848C317.724%2c77.374%2c321.67%2c16.845%2c315.758%2c-45.399C309.577%2c-110.471%2c307.358%2c-179.922%2c266.794%2c-231.178C225.586%2c-283.249%2c159.17%2c-306.414%2c95.173%2c-324.13C31.948%2c-341.632%2c-34.131%2c-349.033%2c-97.489%2c-332.019C-161.748%2c-314.764%2c-214.732%2c-273.674%2c-263.052%2c-227.935C-315.744%2c-178.058%2c-366.777%2c-124.971%2c-389.14%2c-55.95C-413.953%2c20.632%2c-427.184%2c106.613%2c-395.412%2c180.579C-363.421%2c255.055%2c-290.561%2c302.757%2c-218.839%2c340.52C-151.376%2c376.041%2c-76.238%2c389.629%2c0%2c388.772' fill='rgba(88,101,242,0.1)'%3e%3c/path%3e%3cpath d='M1440 1217.25C1563.036 1211.3139999999999 1672.923 1150.274 1776.455 1083.534 1879.862 1016.874 2004.5520000000001 951.2760000000001 2036.784 832.5419999999999 2068.697 714.984 1980.4070000000002 602.594 1938.0140000000001 488.396 1904.6689999999999 398.571 1861.943 318.59000000000003 1814.99 235.06900000000002 1755.188 128.69299999999998 1730.509-8.200000000000045 1624.68-68.96400000000006 1513.726-132.67100000000005 1363.703-146.88300000000004 1249.204-89.79200000000003 1136.718-33.70500000000004 1124.064 120.142 1046.715 219.21699999999998 974.8879999999999 311.219 842.306 356.947 812.357 469.759 781.782 584.932 843.679 701.405 889.505 811.403 936.765 924.844 983.0989999999999 1044.1109999999999 1082.0149999999999 1117.036 1183.817 1192.088 1313.67 1223.345 1440 1217.25' fill='rgba(237, 66, 69, .1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

html .indexBackground {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(12%2c 20%2c 44%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c388.772C75.575%2c387.922%2c157.579%2c383.949%2c215.699%2c335.634C272.14%2c288.714%2c283.202%2c208.838%2c301.844%2c137.848C317.724%2c77.374%2c321.67%2c16.845%2c315.758%2c-45.399C309.577%2c-110.471%2c307.358%2c-179.922%2c266.794%2c-231.178C225.586%2c-283.249%2c159.17%2c-306.414%2c95.173%2c-324.13C31.948%2c-341.632%2c-34.131%2c-349.033%2c-97.489%2c-332.019C-161.748%2c-314.764%2c-214.732%2c-273.674%2c-263.052%2c-227.935C-315.744%2c-178.058%2c-366.777%2c-124.971%2c-389.14%2c-55.95C-413.953%2c20.632%2c-427.184%2c106.613%2c-395.412%2c180.579C-363.421%2c255.055%2c-290.561%2c302.757%2c-218.839%2c340.52C-151.376%2c376.041%2c-76.238%2c389.629%2c0%2c388.772' fill='%230a1023'%3e%3c/path%3e%3cpath d='M1440 1217.25C1563.036 1211.3139999999999 1672.923 1150.274 1776.455 1083.534 1879.862 1016.874 2004.5520000000001 951.2760000000001 2036.784 832.5419999999999 2068.697 714.984 1980.4070000000002 602.594 1938.0140000000001 488.396 1904.6689999999999 398.571 1861.943 318.59000000000003 1814.99 235.06900000000002 1755.188 128.69299999999998 1730.509-8.200000000000045 1624.68-68.96400000000006 1513.726-132.67100000000005 1363.703-146.88300000000004 1249.204-89.79200000000003 1136.718-33.70500000000004 1124.064 120.142 1046.715 219.21699999999998 974.8879999999999 311.219 842.306 356.947 812.357 469.759 781.782 584.932 843.679 701.405 889.505 811.403 936.765 924.844 983.0989999999999 1044.1109999999999 1082.0149999999999 1117.036 1183.817 1192.088 1313.67 1223.345 1440 1217.25' fill='%230e1835'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.premiumHeader {
    background-image: url("data:image/svg+xml,%3Csvg width='900' height='479' viewBox='0 0 900 479' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_572_39)'%3E%3Cpath d='M900 0H0V479H900V0Z' fill='%23D7BCFF'/%3E%3Cg filter='url(%23filter0_f_572_39)'%3E%3Cpath d='M239 724.088C436.166 724.088 596 596.487 596 439.083C596 281.679 436.166 154.078 239 154.078C41.8344 154.078 -118 281.679 -118 439.083C-118 596.487 41.8344 724.088 239 724.088Z' fill='%23B200FF'/%3E%3Cpath d='M774 511.732C971.166 511.732 1131 384.131 1131 226.727C1131 69.3228 971.166 -58.2783 774 -58.2783C576.834 -58.2783 417 69.3228 417 226.727C417 384.131 576.834 511.732 774 511.732Z' fill='%23D7BCFF'/%3E%3Cpath d='M330 547.656C527.166 547.656 687 420.055 687 262.651C687 105.248 527.166 -22.3535 330 -22.3535C132.834 -22.3535 -27 105.248 -27 262.651C-27 420.055 132.834 547.656 330 547.656Z' fill='%23B200FF'/%3E%3Cpath d='M491 327.317C688.166 327.317 848 199.716 848 42.3116C848 -115.092 688.166 -242.693 491 -242.693C293.834 -242.693 134 -115.092 134 42.3116C134 199.716 293.834 327.317 491 327.317Z' fill='%23B200FF'/%3E%3Cpath d='M605 580.388C802.166 580.388 962 452.787 962 295.383C962 137.98 802.166 10.3784 605 10.3784C407.834 10.3784 248 137.98 248 295.383C248 452.787 407.834 580.388 605 580.388Z' fill='%23D7BCFF'/%3E%3Cpath d='M896 669.802C1093.17 669.802 1253 542.2 1253 384.797C1253 227.393 1093.17 99.7915 896 99.7915C698.834 99.7915 539 227.393 539 384.797C539 542.2 698.834 669.802 896 669.802Z' fill='%23B200FF'/%3E%3C/g%3E%3Cpath d='M900 441V484H0V441C154.476 466.329 299.204 478.996 445.43 479H445.57C591.797 478.996 739.525 466.329 900 441Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_572_39' x='-440' y='-564.693' width='2015' height='1610.78' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='161' result='effect1_foregroundBlur_572_39'/%3E%3C/filter%3E%3CclipPath id='clip0_572_39'%3E%3Crect width='900' height='479' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

html .premiumHeader {
    background-image: url("data:image/svg+xml,%3Csvg width='900' height='479' viewBox='0 0 900 479' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_571_2)'%3E%3Cpath d='M900 0H0V479H900V0Z' fill='%230C142C'/%3E%3Cg filter='url(%23filter0_f_571_2)'%3E%3Cpath d='M19 316.467C216.166 316.467 376 208.845 376 76.0865C376 -56.6717 216.166 -164.293 19 -164.293C-178.166 -164.293 -338 -56.6717 -338 76.0865C-338 208.845 -178.166 316.467 19 316.467Z' fill='%23B200FF'/%3E%3Cpath d='M411 396.593C608.166 396.593 768 288.971 768 156.213C768 23.4548 608.166 -84.167 411 -84.167C213.834 -84.167 54 23.4548 54 156.213C54 288.971 213.834 396.593 411 396.593Z' fill='%230C142C'/%3E%3Cpath d='M700 634.28C897.166 634.28 1057 526.658 1057 393.9C1057 261.142 897.166 153.52 700 153.52C502.834 153.52 343 261.142 343 393.9C343 526.658 502.834 634.28 700 634.28Z' fill='%23B200FF'/%3E%3Cpath d='M589 441.033C786.166 441.033 946 333.412 946 200.653C946 67.8952 786.166 -39.7266 589 -39.7266C391.834 -39.7266 232 67.8952 232 200.653C232 333.412 391.834 441.033 589 441.033Z' fill='%23B200FF'/%3E%3Cpath d='M830 348.113C1027.17 348.113 1187 240.491 1187 107.733C1187 -25.0252 1027.17 -132.647 830 -132.647C632.834 -132.647 473 -25.0252 473 107.733C473 240.491 632.834 348.113 830 348.113Z' fill='%230C142C'/%3E%3Cpath d='M587 265.967C784.166 265.967 944 158.345 944 25.5865C944 -107.172 784.166 -214.793 587 -214.793C389.834 -214.793 230 -107.172 230 25.5865C230 158.345 389.834 265.967 587 265.967Z' fill='%23B200FF'/%3E%3C/g%3E%3Cpath d='M900 441V484H0V441C154.476 466.329 299.204 478.996 445.43 479H445.57C591.797 478.996 739.525 466.329 900 441Z' fill='%230C142C'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_571_2' x='-660' y='-536.793' width='2169' height='1493.07' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='161' result='effect1_foregroundBlur_571_2'/%3E%3C/filter%3E%3CclipPath id='clip0_571_2'%3E%3Crect width='900' height='479' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

html,
body {
    padding: 0;
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
    font-family: "Rubik", sans-serif; */
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* Fix iFrame transparency issue */
iframe {
    color-scheme: light;
}

.main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    flex: 1;
}
