.discord-messages {
    color: #fff;
    background-color: #36393e;
    display: block;
    font-size: 16px;
    font-family: Whitney, Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 170%;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.discord-messages.discord-light-theme {
    color: #747f8d;
    background-color: #fff;
    border-color: #dedede;
}

.discord-messages.discord-no-background {
    background-color: unset;
}
